body {
    margin: 0;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    color: #000000;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
}
span{
    cursor: pointer;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 16px 0 24px;
    gap: 32px;
    width: 100%;
    height: 110px;
    background: #6725a8;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.header__container {
    width: 100%;
    max-width: 1400px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}
.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 17px;
    width: 170px;
    height: 56px;
}
.header__left-catalog {
    width: 48px;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
}
.header__catalog-frame {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mobile-menu-icon-frame {
    display: none;
    cursor: pointer;
}
.header__catalog {
    width: 28px;
    height: 24px;
    margin-bottom: 1px;
    color: #ffffff;
}
.header__logo {
    width: 106px;
    height: 56px;
    padding: 0;
    position: relative;
    cursor: pointer;
}
.header__logo-text {
    position: absolute;
    width: 107px;
    height: 48px;
    left: 0px;
    top: 1px;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #ffffff;
    font-variant: small-caps;
}
.header__search {
    position: relative;
    width: 100%;
    margin-bottom:2px;
}
.header__search-input {
    width: 100%;
    height: 48px;
    padding: 0px 20px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 36px;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255);
}
.header__search-input::-webkit-input-placeholder {
    color: #ffffff;
    opacity: 0.5;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}
.header__search-button {
    position: absolute;
    top: 14px;
    right: 24px;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    background: url("./img/search.svg");
    color: #ffffff;
    opacity: 0.5;
    cursor: pointer;
}
.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2px;
    gap: 40px;
    width: 169px;
    height: 56px;
    margin-right: -3px;
}
.header__menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 3px;
    gap: 6px;
    width: 56px;
    height: 56px;
    cursor: pointer;
    position: relative;
}
/* .header__menu-item-active ::after {
    content: "3";
    display: block;
    height: 16px;
    width: 16px;
    background: #f55123;
    border-radius: 50%;
    position: absolute;
    right: 7px;
    top: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
}
*/
.header__menu-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
    margin-top: 5px;
}
.cart_logo{
    margin-right: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_logo{
    margin-left: 3px;
    margin-top: 2px;
}
main {
    display: flex;
    justify-content: center;
    border-radius: 24px;
    background: #f6f6fa;
    min-height: 1892px;
    height: 100%;
    width: 100%;
    margin-top: -23px;
    margin-bottom: -25px;
    z-index: 5;
}
.main-container {
    width: 100%;
    max-width: 1400px;
    padding: 23px 24px 0 24px;
}
.main-container__inner {
    width: 100%;
    display: flex;
    gap: 32px;
    flex-flow: nowrap;
}
.main__left {
    width: 68.64%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main__right {
    width: 100%;
    max-width: 429px;
    height: 1809px;
}
.total__card {
    width: 100%;
    max-width: 429px;
    min-width: 303px;
    min-height: 572px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px 24px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    background: #ffffff;
}
.total__card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 100%;
}
.total__card-content-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.total__card-content-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0;
}
.total__card-content-item-row:first-child {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}
.total__card-content-item-row:first-child .com{
    font-size: 20px;
    line-height: 28px;
}
#delivery {
    gap: 12px;
}
.pick-point {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 100%;
}
.pick-point-change {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
}
.pick-point-change h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.pick-point-change img {
    width: 16px;
    height: 16px;
}
.pick-point-adress{
    font-size: 13px;
    line-height: 16px;
}
.pick-point h5 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
#pick-point-date {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #cb11ab;
    border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
    padding-bottom: 1px;
}
.total__card_gray-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 12px;
    background: #f6f6fa;
    border-radius: 8px;
    width: 100%;
    position: relative;
}
.total__card_gray-field .hidden-text{
    top: 200px;
    left: calc((100% - 288px)/2);
    top: calc(100% - 5px);
    width: 288px;
}
.total__card_gray-field-text span:hover ~ .hidden-text{
    opacity: 1;
}
.delivery-icon-accept {
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 9px;
    flex-shrink: 0;
}
.icon-circle {
    position: absolute;
    top: 0;
    left: 0;
}
.icon-jackdaw {
    position: absolute;
    top: 6px;
    left: 5px;
}
.total__card_gray-field-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
.total__card_gray-field-text span {
    color: #0cb477;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
    cursor: pointer;
    position: relative;
}
.total__card_gray-field-text span:hover .hidden-text{
    opacity: 1;
}
.hidden-text{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px 16px 14px;
    transition: all .2s;
    color: #000000;
    opacity: 0;
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    z-index: 20;
}
.hidden-text-price{
    display: flex;
    flex-direction: column;
    width: 239px;
    gap: 8px;
    top: 23px;
    right: -9px;
}
.hidden-text-price .row{
    display: flex;
    justify-content: space-between;
}
.hidden-text-price .row .grey{
    color: #A0A0A4;
}
.main__left__white-wrapper .total__card_gray-field-text .hidden-text{
    top: calc(100% + 12px - 5px);
    right: calc((100% - 288px) / 2);
    width: 288px;
}
#pay {
    gap: 12px;
}
.bank-card {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: left;
    align-items: center;
}
.bank-card span {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
.bank-card.bigger span {
    font-size: 16px;
    line-height: 24px;
}
.bank-card.bigger span + span{
    margin-left: 5px;
}
.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.checkbox-wrapper label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
    border-color: #cb11ab;
    background-color: #cb11ab;
    background-image: url(./img/checked\ white\ stroke.svg);
    background-size: 70%;
    background-position: 60% 40%;
}
#pay-gray-field {
    flex-direction: column;
    align-items: start;
}
#pay-gray-field p {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
.order-button {
    width: 100%;
    height: 44px;
    background: #cb11ab;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding-top: 8.5px;
    padding-bottom: 12.5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 12px;
}
.order-button:hover{
    background: #f529d3;
}
.user-consent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}
.user-consent div{
    flex-shrink: 0;
}
.user-consent p {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    flex-shrink: 1;
}
.user-consent p span {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.user-consent div {
    position: relative;
    width: 18px;
    margin-right: 4px;
}
.user-consent div img {
    position: absolute;
    top: 3px;
    left: 0;
}
.main__left h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -0.01em;
    margin-top: 13px;
    margin-bottom: 24.5px;
}
.cart__inner-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cart__in-stock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-left: 0.5px;
    width: 100%;
}
#cart__in-stock-checkbox-wrapper label {
    font-size: 16px;
    line-height: 24px;
}
#cart__in-stock-checkbox-wrapper {
    justify-content: space-between;
    width: 100%;
    margin-bottom: 12px;
}
.cart__in-stock-checkbox-wrapper + label::before {
    margin-right: 11px;
}
.products-in-card-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}
.product-in-card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    min-width: 640px;
}
.product-in-card-wrapper-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 11px;
    width: 397px;
}
.product-in-card-wrapper-left-left {
    display: flex;
    align-items: center;
}
.custom-checkbox-product + label::before {
    width: 22px;
    height: 22px;
    margin-right: 11px;
}
#product-stock-1-checkbox + label::before {
    width: 22px;
    height: 22px;
    margin-right: 12px;
}
.for-product-image {
    width: 72px;
    height: 96px;
    border-radius: 8px;
    margin-right: 16px;
    cursor: pointer;
}
.size-for-mobile {
    display: none;
}
.product-in-card-wrapper-left-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 7.5px;
    width: 100%;
}
.product-in-card-wrapper-left-right h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    margin-left: 1px;
    margin-top: 1px;
}
.product_color-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    font-size: 13px;
    line-height: 16px;
    margin-left: 0;
}
.product_firm {
    font-size: 13px;
    line-height: 16px;
    color: #a0a0a4;
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.product_firm div {
    display: flex;
    align-items: center;
}
.product_firm-icon {
    border: 1px solid #a0a0a4;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    cursor: pointer;
    color: #000000;
}
.relative-for-manuf{
    position: relative;
}
.manuf-info{
    width: 280px;
    position: absolute;
    right: -135px;
    top: 21px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 8px;
    padding: 11px 16px 13px;
    font-size: 13px;
    line-height: 16px;
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all .2s;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
}
.manuf-info-title{
    width: 100%;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
.manuf-info-desc{
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
.product_firm-icon:hover + .manuf-info{
    opacity: 1;
}
.product-in-card-wrapper-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
    width: 226px;
    margin-top: 8px;
}
.product-in-card-wrapper-right-left {
    width: 100px;
    padding-top: 3px;
}
.product-in-card-wrapper-right-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    width: 110px;
    gap: 5px;
}
.product__counter-wrapper {
    width: 100px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
}
.product__counter-wrapper-decrease {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 4px;
    top: calc(50% - 24px / 1.8);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.01em;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    z-index: 2;
}
.product__counter-wrapper-decrease div {
    pointer-events: none;
}
.product__counter-wrapper-increase {
    position: absolute;
    width: 24px;
    height: 24px;
    right: -2px;
   /* top: calc(50% - 24px / 1.8);
    */
    top: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    z-index: 2;
}
.product__counter-wrapper-increase div {
    pointer-events: none;
}
.product__counter-wrapper-number {
    position: absolute;
    width: 44px;
    height: 23px;
    left: 28.5px;
    top: 8.5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.product-in-card-wrapper-right-left p {
    font-size: 13px;
    line-height: 16px;
    color: #ff3b30;
    margin-top: 8px;
    margin-bottom: 10px;
}
.product-in-card-wrapper:hover .product__like-and-delete{
    opacity: 1;
}
.product__like-and-delete {
    display: flex;
    gap: 18.5px;
    justify-content: end;
    margin-top: 1.5px;
    height: 16px;
    opacity: 0;
    transition: all .1s;
}
.product__like-and-delete img {
    cursor: pointer;
}
.delete{
    margin-right: 1.5px;
    width: 16px;
    height: 16px;
    background: url(./img/delete.svg);
    cursor: pointer;
    z-index: 2;
}
.delete:hover{
    background: url(./img/delete_active.svg);
}
.cart__new-price {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.cart__new-price.small {
    font-size: 16px;
    line-height: 24px;
    margin-top: 3px;
}
.cart__new-price span {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
.cart__old-price {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    color: #a0a0a4;
    position: relative;
}
.cart__old-price span{
    cursor: pointer;
}
.cart__old-price span:hover ~ .hidden-text{
    opacity: 1;
}
.cart__old-price span::after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    top: 9.5px;
    background-color: #a0a0a4;
}
.missing-product__counter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-bottom:3.6px;
    margin-bottom: 16px;
}
.products-in-card-wrapper.missed {
    color: #a0a0a4;
}
.black-white-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.main__left__white-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #ffffff;
    padding: 15px 24px 24px 24px;
}
.main__left__white-wrapper-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 17px;
}
.main__left__white-wrapper-title h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin: 0;
}
.main__left__white-wrapper-title a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #cb11ab;
    cursor: pointer;
    text-align: center;
    margin-top: 7px;
    margin-right: 3px;
}
.delivery-params {
    display: grid;
    grid-template-columns: 169.2px 398px;
    gap: 16px;
}
.delivery-params .grid_left {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.delivery-params .grid_right {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.pickpoint-rating {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 13px;
    line-height: 16px;
    margin-top: 4px;
}
#star-score {
    margin-left: 4.5px;
    margin-right: 8px;
}
.grid_right.small-images-flex {
    display: flex;
    gap: 8px;
}
.small-photo {
    height: 56px;
    width: 41px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-photo img {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.small-photo_counter {
    position: absolute;
    top: -9px;
    right: -6px;
    height: 16px;
    min-width: 16px;
    background-color: #f55123;
    color: #ffffff;
    border-radius: 16px;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    padding: 1px 6px 0px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.display-none {
    display: none!important;
}
.main__left__white-wrapper__free-cancel {
    display: flex;
    align-items: center;
    gap: 0;
    margin-top: 24.5px;
    margin-left: 1.5px;
}
.main__left__white-wrapper + .main__left__white-wrapper {
    margin-top: 17px;
}
.pay-after-deliver-text {
    font-size: 13px;
    line-height: 16px;
    color: #a0a0a4;
    margin-top: 8px;
}
footer {
   /* height: 88px;
    */
    background-color: #6725a8;
    position: absolute;
    width: 100%;
    z-index: -1;
    padding-top: 24px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.footer__container {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__container p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
    line-height: 16px;
}
.recipient-form {
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    column-gap: 24px;
    row-gap: 17px;
    padding-bottom: 18px;
    justify-content: space-between;
}
.recipient-form-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 45px;
    width: 30.5%;
}
.name_lastname-container{
    display: flex;
    gap: 17px;
}
#recipient_name-wrapper, #recipient_last-name-wrapper {
    width: calc((100% - 24px)/2);
}
#recipient_mail-wrapper, #recipient_phone-wrapper, #recipient_inn-wrapper{
    width:calc((100% - 48px)/3);
}
.recipient-form-input-wrapper label {
    font-size: 13px;
    line-height: 16px;
    color: #a0a0a4;
    margin-bottom: 2px;
}
.recipient-form-input {
    height: 27px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none !important;
    font-size: 16px;
    line-height: 24px;
}
.recipient-form-input::placeholder {
    font-family: 'Segoe UI';
    color: #9797af;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
#recipient-form-input-wrapper-inn {
    position: relative;
}
.recipient-form-input-wrapper p {
    position: absolute;
    font-size: 12px;
    line-height: 14px;
    top: 49.5px;
}
#cart__in-stock-checkbox-wrapper p {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.expand_button {
    cursor: pointer;
}
.color-black {
    color: #000000;
}
.color-red {
    color: #ad2821;
}
.color-red::placeholder {
    color: #ad2821;
}
.rotate-180 {
    transform: rotate(180deg);
}
.opacity_0 {
    opacity: 0;
}
.mobile-footer-menu{
    display: none;
}
#mobile-footer-menu__home-counter{
    position: absolute;
    height: 16px;
    width: 16px;
    background: #f55123;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
    color: #FFFFFF;
}
.like:hover{
    stroke: #6725a8;
}
#hide-products-line{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 13.5px;
    margin-top: 6.5px;
}
.modal_button{
    cursor: pointer;
}
.modal{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(5, 0, 10, 0.3);
}
.modal_content{
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
}
.modal_content_inner{
    padding: 16px 24px 24px;
    width: 100%;
    height: 100%;
    position: relative;
}
.modal_content_inner button{
    position: absolute;
    bottom: 24px;
    left: 24px;
    width: 164px;
    margin-bottom: 0;
}
.btn-close{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
}
.modal_title{
    letter-spacing: -0.01em;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 13px;
}
#modal-payment .modal_content{
    width: 400px;
    height: 408px;
    top: 179.5px;
    left: calc((100% - 408px)/2);
}
#modal-adress .modal_content{
    width: 500px;
    top: 177px;
    left: calc((100% - 500px)/2) 
}
.modal_inner_list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modal_inner_list img{
    margin-right: 4px;
}
.modal_inner_list .container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#modal_adress .modal_inner_list .container div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.modal_inner_list_item {
    display: flex;
    align-items: flex-start;
}
.modal_inner_list_item img{
    cursor: pointer;
    margin-top: 2px;
}
.modal_inner_list_item div{
    display: flex;
    align-items: center;
    margin-left: -7px;
}
.modal_inner_list_item div.delete{
    margin-top: 4px;
    background: url(./img/delete-grey.svg);
    z-index: 10;
}
.modal_inner_list_item div.delete:hover{
    background: url(./img/delete_active.svg);
}
#modal-adress .modal_content_inner{
    padding-bottom: 125px;
}
#adress-method-select{
    display: flex;
    justify-content: space-between;
    margin: 0 -2px 26px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
#adress-method-select div{
    border: 2px solid rgba(203, 17, 171, 0.15);
    border-radius: 20px;
    width: 224px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 0 11px ;
    cursor: pointer;
    transition: all .2s;
}
#adress-method-select .selected{
    border-color: #CB11AB;
}
#adress-method-select div:hover{
    border-color: #cb11acb6;
}
.my-adresses{
    margin-left: -1px;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 12px;
}
#modal-adress .container div{
    width: 400px;
    margin: 0;
    margin-left: -10px;
}
#modal-adress .modal_inner_list .checkmark {
    top: 5px;
}
/* //////// */
.modal_inner_list .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.modal_inner_list .checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
#modal-payment .modal_inner_list .checkmark{
    top: 7px;
}
.modal_inner_list .container:hover input ~ .checkmark {
    background-color: #ccc;
}
.modal_inner_list .container input:checked ~ .checkmark {
    background-color: #CB11AB;
    border: 1px solid #CB11AB;
}
.modal_inner_list .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.modal_inner_list .container input:checked ~ .checkmark:after {
    display: block;
}
.modal_inner_list .container .checkmark:after {
    margin-top: 4px;
    margin-left: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}
.with-star{
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A4;
    margin-top: 4px!important;
    margin-left: 0 !important;
}
.with-star img{
    margin: 0;
    margin-right: 4.5px;
}
.with-star span{
    margin-right: 8px;
}
.black{
    color: black;
}
.inner_list_string{
    flex-direction: column;
    align-items: flex-start!important;
}
.like{
    background: url(./img/like.svg);
    width: 19.98px;
    height: 16px;
    cursor: pointer;
}
.liked{
    background: url(./img/like_active.svg);
}
.like:hover{
    background: url(./img/like_active.svg);
    width: 19.98px;
    height: 16px;
}
@media screen and (max-width: 1023px) {
    .header {
        height: 81.38px;
        padding: 0;
        gap: 0 
   }
    .header__container {
        height: 56px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding: 0;
   }
    .header__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        gap: 0;
        width: 50%;
        height: 100%;
        flex-shrink: 0;
        position: relative;
   }
    .header__left-catalog {
        display: none;
   }
    .mobile-menu-icon-frame {
        display: flex;
        margin-left: 14.5px;
   }
    .mobile-menu-icon-frame img {
        width: calc(22.5px*1.1);
        height: calc(18.5px*1.1);
   }
    .product__counter-wrapper-decrease{
        left: 2px;
        top: 2px 
   }
    .header__logo {
        width: auto;
        height: auto;
        padding: 0;
        position: absolute;
        display: flex;
        right: -99px;
        top: 12px;
   }
    .header__logo-text {
        position: static;
        width: 198px;
        height: 24px;
        left: auto;
        top: auto;
        font-size: 26px;
   }
    .header__menu {
        display: none;
   }
    .header__search-input {
        display: none;
   }
    .header__search-button {
        top: -9px;
        right: 18px;
        opacity: 1;
   }
    main{
        margin-top: -25px;
   }
    .main-container {
        width: 100%;
        height: auto;
        padding: 0;
   }
    .main-container__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
   }
    .main__left {
        width: 100%;
        height: auto;
   }
    .main__left h2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.01em;
        margin-left: 16px;
        margin-top: 15px;
        margin-bottom: 13.5px;
   }
    .products-in-card-wrapper {
        border-top: none;
        gap: 16px;
   }
    .products-in-card-wrapper.missed {
        gap: 19px;
   }
    .product-in-card-wrapper {
        position: relative;
        flex-direction: column;
        gap: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        min-width: 0;
   }
    .product-in-card-wrapper-left {
        width: 100%;
   }
    .product-in-card-wrapper-left-left {
        display: flex;
        align-items: center;
        position: relative;
        width: 80px;
        height: 106px;
        margin-right: 16px;
   }
    .for-product-image {
        width: 80px;
        height: 106px;
        margin-right: 0;
   }
    .for-product-image img {
        width: 80px;
        height: 106px;
        margin-right: 0;
   }
    .size-for-mobile {
        display: block;
        position: absolute;
        bottom: 4px;
        left: 4px;
        background-color: #FFFFFF;
        height: 22px;
        border-radius: 6px;
        padding: 0 3px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        z-index: 10;
   }
    .size-for-mobile p {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #000000;
   }
    .product-in-card-wrapper-left-right.available-product {
        margin-top: 23px;
   }
    .product-in-card-wrapper-right {
        align-items: center;
        gap: 0;
        width: 100%;
        margin-top: 0;
   }
    .product-in-card-wrapper-right-right {
        position: absolute;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        top: 12px;
        left: 93px;
   }
    .product-in-card-wrapper-right-left {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 9px;
   }
    .product__counter-wrapper {
        width: 80px;
        height: 32px;
        flex-shrink: 0;
   }
    .product-in-card-wrapper-right-left p {
        font-size: 13px;
        color: #FF3B30;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 16px;
        flex-shrink: 0;
   }
    .product__like-and-delete {
        display: flex;
        gap: 26px;
        justify-content: end;
        margin-top: 0;
        margin-left: 0;
        margin-right: 13px;
        height: 16px;
        width: 100%;
   }
    .delete{
        margin-right: 1px;
   }
    .missed .product__like-and-delete{
        margin-right: 5px;
        margin-top: 5px;
   }
    .cart__new-price {
        font-size: 16px;
        line-height: 24px;
   }
    .cart__old-price {
        font-size: 13px;
        line-height: 16px;
        margin-top: 3px;
   }
    .custom-checkbox-product+label::before {
        width: 22px;
        height: 22px;
        margin-right: 11px;
        background-color: #ffff;
        position: absolute;
        top: 4px;
        left: 4px;
   }
    .select-all+label::before {
        width: 22px;
        height: 22px;
        margin-right: 11px;
        margin-left: -1px;
        margin-bottom: -4px;
        background-color: inherit;
        position: static;
   }
    .product_color-line_size {
        display: none;
   }
    .product-in-card-wrapper-left-right h5 {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-top: 4px;
        margin-left: -0.2px;
   }
    .missing-product__counter-wrapper{
        margin-top: 9px;
        margin-left: -1px;
   }
    .cart__new-price.small{
        margin-top: 0;
        margin-left: 2px;
   }
    .product_firm div {
        display: none;
   }
    .main__left__white-wrapper{
        padding: 10px 16px 22px 16px;
   }
    .main__left__white-wrapper-title {
        margin: 0;
        margin-bottom: 8px;
   }
    .main__left__white-wrapper-title h2 {
        margin: 0;
        font-size: 20px;
        line-height: 32px;
   }
    .main__left__white-wrapper-title a{
        line-height: 24px;
        margin-top: 0;
        margin-bottom: 2px;
   }
    .delivery-params {
       /* grid-template-columns: 100%;
        */
        gap: 0;
        display: flex;
        flex-direction: column;
   }
    .delivery-params .grid_left {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
   }
    .delivery-params .grid_right {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
   }
    .small-images-flex{
        margin: 12px 0px 0px 0px;
   }
    .main__left__white-wrapper__free-cancel{
        margin-top: 8px;
   }
    .recipient-form{
        max-width: 100%;
        row-gap: 27px;
   }
    .recipient-form-input-wrapper{
        width: 100%;
   }
    #recipient_name-wrapper{
        width: 100%;
        margin-top: -7px;
   }
    #recipient_last-name-wrapper, #recipient_mail-wrapper, #recipient_phone-wrapper, #recipient_inn-wrapper {
        width: 100%;
   }
    .total__card-content{
        gap: 16px 
   }
    .total__card-content-item-row{
        font-size: 16px;
   }
    .total__card-content-item-row:first-child{
        font-size: 20px;
        margin-bottom: 5px;
   }
    .pick-point{
        display: none;
   }
    .total__card_gray-field{
        background-color: #F0ECF4;
        border-radius: 8px;
        padding-top: 11px;
        margin-left: 1px;
   }
    .main__right {
        width: 100%;
        height: auto;
        margin-top: -16px;
        padding-top: 16px;
        max-width: none;
   }
    .cart__inner-frame {
        padding: 0 16px;
   }
    .total__card {
        background-color: inherit;
        border-radius: 0;
        box-shadow: none;
        padding: 21px 16px;
        min-height: 0;
        width: 100%;
        max-width: 100%;
        padding-bottom: 40px;
   }
    .product__counter-wrapper-number{
        left: 17.5px;
        top: 3.5px;
   }
    .product__counter-wrapper-increase{
        top: 1.5px;
        right: -3px;
   }
    .expand_button{
        margin-right: 6px;
   }
    .product-in-card-wrapper-left-right{
        margin-left: -0.5px;
   }
    .cart__in-stock-checkbox-wrapper{
        margin-bottom: 10px;
   }
    .qwerty1{
        margin-bottom: 23px !important;
   }
    .main__left__white-wrapper__free-cancel{
        margin-left: 9px;
        margin-right: 4px;
   }
    .icon-circle{
        top: -1px;
   }
    .icon-jackdaw{
        top:5px;
   }
    #pay-gray-field{
        padding-top: 7px;
        margin-bottom: 7.5px;
   }
    .footer__container{
        height: 65.5px;
   }
    .mobile-footer-menu{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 8px 13px 0px;
        gap: 24px;
        background-color: #ffffff;
   }
    .mobile-footer-menu img{
        cursor: pointer;
   }
    #mobile-footer-menu__home-wrapper{
        position: relative;
        padding-top: 5px;
   }
    #mobile-footer-menu__home-counter{
        position: absolute;
        height: 16px;
        width: 16px;
        background: #f55123;
        border-radius: 50%;
        position: absolute;
        right: -6px;
        top: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 10px;
        line-height: 18px;
        color: #FFFFFF;
   }
    #modal-payment .modal_content, #modal-adress .modal_content {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0%;
   }
    .modal_content_inner button{
        width: calc(100% - 32px);
        left: 16px;
        bottom: 16px;
   }
    #modal-adress .container div{
        width: 100%;
   }
    .modal_inner_list .container{
        width: 100%;
   }
    #modal-adress .modal_content_inner{
        padding: 16px;
   }
    #adress-method-select div{
        width: calc((100% - 12px)/2);
   }
}