body {
    margin: 0;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 16px 3px 16px 24px;
    gap: 32px;

    width: 100%;
    height: 110px;
    background: #6725A8;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.header__container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 170px;
    height: 56px;



}

.header__left-catalog {
    width: 48px;
    height: 48px;

    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 8px;
}

.header__catalog-frame {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__catalog {
    width: 28px;
    height: 24px;


    color: #FFFFFF;
}

.header__logo {
    width: 106px;
    height: 56px;
    padding: 0;
    position: relative;
}

.header__logo-text {
    position: absolute;
    width: 107px;
    height: 48px;
    left: 0px;
    top: 1px;
    font-weight: 600;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-variant: small-caps;
}


.header__search {
    position: relative;
}

.header__search-input {
    width: 970px;
    height: 48px;
    padding: 0px 20px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 36px;
    outline: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255);
    ;

}

.header__search-input::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 0.5;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.header__search-button {
    position: absolute;
    top: 14px;
    right: 14px;

    background: none;
    border: none;
    width: 20px;
    height: 20px;
    background: url('./img/search.svg');
    color: #FFFFFF;
    opacity: 0.5;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 17px 0px 0px;
    gap: 40px;
    width: 169px;
    height: 56px;
}

.header__menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 3px;
    gap: 6px;

    width: 56px;
    height: 56px;

    position: relative;
}


.header__menu-item-active ::after {
    content: "3";
    display: block;
    height: 16px;
    width: 16px;
    background: #F55123;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 18px;
}

.header__menu-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 6px;
}

main {
    display: flex;
    justify-content: center;
    border-radius: 24px;
    position: absolute;
    top: 88px;
    background-color: #FFFFFF;
    height: 1825px;
    width: 100%;
}

.main-container {
    width: 1400px;
    padding: 16px 24px;
    display: flex;
    gap: 32px;

}

.main__left {
    width: 891px;
    height: 1809px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    border: 1px solid gray;
}

.main__right {
    width: 429px;
    height: 1809px;


}

.total__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 24px 24px;
    gap: 24px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15), 0px 0px 1px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    background: #FFFFFF;
    width: 429px;
    height: 572px;
}

.total__card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 381px;
    height: 420px;
}

.total__card-content-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 381px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.total__card-content-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0;
}

.total__card-content-item-row:first-child {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
}

#delivery {
    gap: 12px;
}

.pick-point {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 100%;
}

.pick-point-change {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
}

.pick-point-change h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.pick-point-change img {
    width: 16px;
    height: 16px;
}

.pick-point h5 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

#pick-point-date {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #CB11AB;
    border-bottom: 1px dashed rgba(203, 17, 171, 0.2);
    padding-bottom: 1px;

}

.total__card_gray-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 12px;
    gap: 9px;
    background: #F6F6FA;
    border-radius: 8px;
    width: 100%;
}

.delivery-icon-accept {
    width: 20px;
    height: 20px;
    position: relative;
}

.icon-circle {
    position: absolute;
    top: 0;
    left: 0;
}

.icon-jackdaw {
    position: absolute;
    top: 6px;
    left: 5px;
}

.total__card_gray-field-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.total__card_gray-field-text span {
    color: #0CB477;
    border-bottom: 1px dashed rgba(12, 180, 119, 0.2);
}

#pay {
    gap: 12px;
}

#bank-card {
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: left;
    align-items: center;
}

#bank-card span {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}



.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 100%;
}

.checkbox-wrapper label {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #CB11AB;
    background-color: #CB11AB;
    background-image: url(./img/checked\ white\ stroke.svg);
    background-size: 70%;
    background-position: 60% 40%;
}

#pay-gray-field {
    flex-direction: column;
    align-items: start;
}

#pay-gray-field p {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}